<!DOCTYPE html>
<html lang="en">
<head>
    <title>Formulario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />">
    <link rel="stylesheet" href="/stylesheets/c3.css"> 
</head>
<body class="body2">

    <div class="contact">
        <h1 class="logo">Contact <span>Us</span></h1>
        
        <form action="/" method="post">
           
                <input type="text" name="nombre" placeholder="nombre" value= "<%=tarea.name%>">
                <input type="text" name="email" placeholder="email" value= "<%=tarea.email%>">
                <textarea name="comentario"  rows="10" placeholder="Escribir mensaje" ></textarea> <%=tarea.comentario%>
                 <input type="submit" value="ENVIAR" id="boton">
        </form>
        
        
    </div> 
</body>
</html>