<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola Mundo</h1>
   <p>
       <b>Nombre:</b>Leidy Callejas <br>
       <b>C.I.</b>30.276.772 <br>
        Programacion II <br>
        Seccion 1
   </p>
  </body>
</html>
